body{
    background-color: #515151!important;
}
/*.header-search-btn {*/
/*    position: absolute;*/
/*    background: #8c8c8c!important;*/
/*    height: 83px;*/
/*    border-radius: 00px;*/
/*    width: 81px;*/
/*    left: 15px;*/
/*    top: 0;*/
/*    z-index: 1;*/
/*}*/
.header-search-btn {
    position: absolute;
    background: #8c8c8c!important;
    height: 83px;
    border-radius: 00px;
    width: 80px;
    left: 15px;
    top: 0;
    z-index: 1;
}
.header-search-btn .search-button i{
    padding: 20px;
    font-size: 34px;
    color: #fff;
}
.search-button{
    border:none;
    background: #8c8c8c!important;
    outline: none!important;
    float:left;
    color: rgba(255,255,255,.7)!important;
    transition: 0.4s;
    height: 83px;
    margin-left: -30px;
    margin-right: -84px;
    border-radius: 0;
}
.search-input-field{
    font-size: 20px;
    height: 83px;
    color: #fff!important;
    border:none;
    background: #8c8c8c!important;
    outline:none;
    float:left;
    transition: 0.4s;
    width: 0;
    border-radius: 0;
    padding: 30px 0 30px 30px!important;
}
/*.header-search-btn:hover  .search-input-field {*/
/*    width: 841px!important;*/
/*}*/
/*.header-search-btn:hover > .search-button {*/
/*    background: none;*/
/*    color : rgba(255,255,255,.7)!important;*/
/*}*/
/*.search-button:hover{*/
/*    background-color: #33b6e4!important;*/
/*}*/
.header-search-btn:hover  {
    width: calc(100% - 95px) !important;
}
.header-search-btn:hover  .search-input-field {
    width: calc(100% - 95px) !important;
}
.header-search-btn:hover > .search-button {
    background: none;
    color : rgba(255,255,255,.7)!important;
}
.search-button:hover{
    background-color: #33b6e4!important;
}

.search-input-field::placeholder{
    color: #fff!important;
    font-size: 20px!important;
}
:focus::-webkit-input-placeholder {
    opacity: 0.5;
}
.ll-sun-icon{
    padding: 15px;
    font-size: 50px;
    color: #fff;
    float: right;
}
.ll-sun-icon:hover{
    color: #fed500!important;
    text-decoration: none;
}
.left-side-bar-icons{
    width: 60px;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 110px;
}
.list-information-icon{
    height: 52px;
    width: 52px;
    background-color: #fff;
}
.list-information-icon i{
    padding: 15px 18px 15px 15px;
    font-size: 22px;
    color: #000;
}
.information-icon{
    margin-bottom: 55px!important;
}
.list-information-icon a:hover i{
    background-color: #33b6e4;
    color: #FFFFFF;
}
.more-icons{
    display: block!important;
}
.more-icons li{
    height: 52px;
    width: 52px;
    background-color: #fff;
    display: block;
    margin-bottom: 10px;
}
.more-icons .fa-info-circle,.fa-file,.fa-quote-right,.fa-print,.fa-download{
    padding: 15px 18px 16px 15px !important;
}
.more-icons li a i{
    padding: 15px 18px 16px 12px;
    font-size: 22px;
    color: #000;
}
.more-icons a:hover i{
    background-color: #33b6e4;
    color: #FFFFFF;
}
.image-container{
    margin-top: -79px;
    width: 100%;
    padding: 9% 9% 0;
    margin-bottom: -31px;
}
.image-container img{
    margin-top: -11%;
    width: 100%;
}
.row{
    margin-right: 0!important;
}
.row-footer{
    background-color: #202222;
    margin-top: 31px;
    color: #fff;
}
.row-footer .footer-img img{
    width:200px;
    margin-left: 24px;
    margin-top: 57px;
    margin-bottom: 40px;
}
.row-footer .footer-items{
    color: #FFFFFF;
}
.footer-items nav{
    padding-top: 61px;
}
.footer-items nav a{
    display: inline-block;
    margin-right: 10px;
    color: #7f7f7f;
}
.footer-items nav a:hover{
    text-decoration: none!important;
    color: #fed500;
}
.row-footer .footer-privacy{
    font-size: 14px;
    margin-top: 7px;
}
.row-footer .footer-privacy a{
    margin-right: 10px;
    color: #33b6e4;
}
.row-footer .footer-privacy a:hover{
    text-decoration: none!important;
    color: #fed500;
}
.footer-right-side-img{
    display: inline-block;
    text-align: right!important;
    margin-top: 42px!important;
    float: right;
    margin-right: 52px!important;
}
.footer-right-side-img img{
    height: 80px;
    width: 80px;
    margin-right: 10px;
}
.footer-right-side-img a i{
    font-size: 34px;
    margin-right:10px;
    color: #33b6e4;
}
.footer-right-side-img a i:hover{
    color: #fed500;
    text-decoration: none!important;
}
.footer-question-button{
    color: #33b6e4;
    position: fixed;
    right: 22px;
    bottom: 15px;
    background: #fff;
    border-radius: 100%;
    width: 45px;
    height: 45px;
    font-size: 30px;
    font-weight: 700;
    padding: 2px 16px;
    box-shadow: 0 0 13px 0 #3f3f3f;
}
.footer-question-button:hover{
    text-decoration: none!important;
    color: #188bb3!important;
}
.zoom-in-out-maximize{
    position: absolute;
    right: 15px;
    text-align: right;
    width: 177px;
    margin-top: -60px;
}
.zoom-in-out-maximize i{
    color: #FFFFFF;
}
.zoom-in-out-maximize button{
    display: inline-block;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    margin-left: 5px;
    color: #fff;
    cursor: pointer;
    transition: .3s all ease-in-out;
    font-size: 20px;
    border: transparent;
    height: 45px;
    width: 45px;
}
.zoom-in-out-maximize button:hover{
    background-color: #33b6e4;
    color: #fff;
}
.paphiopedilum-johnhill{
    background-color: rgba(0,0,0,.5);
    display: inline-block;
    width: max-content;
    top: 0;
    position: absolute;
    left: 60px;
}
.paphiopedilum-johnhill div{
    padding: 14px;
}
.paphiopedilum-johnhill .name{
    margin-bottom: 0!important;
}
.paphiopedilum-johnhill .name a{
    text-decoration: none!important;
    color: #fff;
    font-size: 24px;
    font-weight: 100;
}

.paphiopedilum-johnhill .name .sub-name:hover{
    color: #33b6e4;
    background-color: rgba(0,0,0,.5);
}
.paphiopedilum-johnhill .name .fa-arrow-left:hover{
    background-color:transparent!important;
    color: #33b6e4;
}
.paphiopedilum-johnhill .more-info{
    margin-bottom: 0;
}
.paphiopedilum-johnhill .more-info a{
    color: #33b6e4;
    text-decoration: none !important;
}
@media (min-width:461px) and (max-width: 1199px) {
    .image-container{
        width: 100%;
        padding: 0!important;
        margin-bottom: -31px;
    }
    .header-search-btn:hover  {
        width: 100%!important;
    }
    .header-search-btn:hover  .search-input-field {
        width: 100%!important;
    }
    .search-button{
        outline: none!important;
    }
    .search-button:hover {
        background: #8c8c8c!important;
    }

}
@media(min-width:360px ) and (max-width: 731px) {
    .top-row {
        width: 96px;
    }

    .ll-sun-icon {
        margin-right: -276px;
    }

    .header-search-btn:hover .search-input-field {
        width: 309px !important;
    }

    .top-row:hover .ll-sun-icon {
        margin-top: 93px !important;
    }

    .information-icon {
        margin-bottom: 10px !important;
    }

    .image-container {
        margin-top: -24px !important;
        height: 64% !important;
        padding: 0 !important;
        margin-bottom: 139px;
    }

    .image-container img {
        margin-top: 0 !important;
        height: 100% !important;
    }

    .zoom-in-out-maximize {
        margin-top: 80px;
    }

    .row-footer .col-md-3 {
        padding-left: 34px;
    }

    .row-footer .col-md-4 {
        padding-left: 60px;
    }

    .footer-items nav {
        padding-top: 0 !important;
    }
    .footer-right-side-img {
        margin-left: 33px;
        padding-right: 23%;
        margin-top: 0 !important;
        margin-right: 22px !important;
        text-align: left!important;
    }

    .footer-right-side-img img {
        margin-right: 0 !important;
    }

    .footer-right-side-img {
        margin-top: 23px !important;
    }
    .facebook-twitter{
        display: block!important;
        margin-left: 10px;
        margin-top: 39px;
    }
}
@media (min-width: 411px) and (max-width: 731px) {
    /*.header-search-btn:hover .search-input-field {*/
    /*    width: 360px !important;*/
    /*}*/

    .ll-sun-icon {
        margin-right: -336px;
    }
}
@media (min-width:375px) and (max-width: 812px) {
    /*.header-search-btn:hover .search-input-field {*/
    /*    width: 324px !important;*/
    /*}*/
    .footer-right-side-img {
        padding-right: 0 !important;
        margin-right: 78px !important;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .ll-sun-icon {
        margin-right: 0 !important;
    }
    .image-container {
        margin-bottom: 128px !important;
        margin-top: 67px !important;
        height: 74% !important;
    }
    .image-container img {
        height: 100% !important;
        margin-top: 0 !important;
    }
    .zoom-in-out-maximize {
        margin-top: 69px;
    }
    .footer-img img{
        margin-left: 43px!important;
        margin-bottom: 23px!important;
    }
    .footer-items{
        margin-left: 45px;
    }
    .footer-privacy{
        margin-left: 45px;
    }
    .footer-items nav {
        padding-top: 0;
    }
    .footer-right-side-img{
        float: left !important;
        margin-left: 45px;
        margin-top: 18px!important;
        margin-bottom: 30px!important;
    }
}
@media (min-width: 360px) and (max-width: 640px) {
    .footer-img img{
        margin-left: 43px!important;
        margin-bottom: 23px!important;
    }
    .footer-items{
        margin-left: 45px;
    }
    .footer-privacy{
        margin-left: 45px;
    }
    .footer-items nav {
        padding-top: 0;
    }
    .footer-right-side-img{
        float: left !important;
        margin-left: 45px;
        margin-top: 18px!important;
        margin-bottom: 30px!important;
    }
}
@media(min-width: 1024px)and (max-width: 1366px){
    .footer-right-side-img{
        margin-right: 44px!important;
    }
}